@font-face {
  font-family: 'iconfont';
  src: url('../iconfont/iconfont.eot');
  src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../iconfont/iconfont.woff') format('woff'),
  url('../iconfont/iconfont.ttf') format('truetype'),
  url('../iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
body,h1,h2,h3,h4,h5,h6,ul,li,p{
	margin: 0;
	padding: 0;
}
a,img{
	display: block;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
.box{
	width: 10.80rem;
	height: 19.02rem;
}
.box .sousuo{
	width:100% ;
	height:0.86rem ;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	margin-bottom: 0.23rem;
}
.box .sousuo .kuang{
	width: 8.88rem;
	height: 0.7rem;
	background-color: #E9E9E9;
	border-radius: 0.43rem;
	margin-left:0.5rem ;
	float: left;
	margin-top: 0.08rem;
}
.box .sousuo .kuang a{
	width:0.56rem ;
	height: 0.56rem;
}
.box .sousuo .naoling{
	width: 0.86rem;
	height: 0.86rem;
	float: left;
	margin-left: 0.25rem;
}
.box .sousuo .iconfont{
	color: #323232;
	width:0.56rem ;
	height: 0.56rem;
	float: left;
	margin: 0.2rem 0.3rem;
}
.ditil{
	width: 10.8rem;
	height:1.5rem ;
	display: flex;
	background-color:#FFFFFF;
	border-top: 0.02rem solid #e9e9e9;
	position:fixed ;
	bottom: 0;
	left: 0;
}
.ditil .bor{
	width:20% ;
	height: 1.5rem;
	text-align: center;
	color: #868686;
	display: block;
}
.ditil .bor:hover{
	color: #C9151E;
}
.ditil .bor .iconfont{
	width: 0.8rem;
	height: 0.8rem;
	font-size: 0.8rem;
	margin-left: 0.68rem;
}
.ditil .bor p{
	font-size: 0.4rem;
}
.peijian{
	margin-bottom: 1.5rem;
}
.box .box1 .left{
	width:2.9rem ;
	height: auto;
	float: left;
	position: fixed;
}
.box1{
	width: 10.8rem;
	height: auto;
	margin-top: 0.86rem;
	margin-bottom: 1.5rem;
	overflow: hidden;
	position: relative;
}
.box .box1 .right{
	width: 7.7rem;
	height: auto;
	float:right;
	margin-right: 0.12rem;
	box-sizing: border-box;
	overflow: hidden;

}
.box .box1 ul{
	width: 2.9rem;
	height: auto;
}
.box .box1 ul li{
	width: 2.9rem;
	height: 1.35rem;
	border-bottom: 0.03rem solid #e9e9e9;
	font-size: 0.42rem;
	text-align: center;
	line-height: 1.35rem;
}
.box .right .tuijian{
	width: 7.7rem;
	height:auto ;
}
.box .right .tuijian .banner1{
	width: 7.45rem;
	height: 1.97rem;
	margin-top: 0.16rem;
	border-radius: 0.1rem;
}
.box .right .tuijian .banner1 img{
	width: 7.45rem;
	height: 1.97rem;
	margin-left: 0.1rem;
	border-radius: 0.1rem;
}
.box .right .tuijian .liebiao{
	width: 11.5rem;
	height: 1.11rem;
	margin-left: 0.1rem;
	display: flex;
		margin-top: 0.16rem;
}
.box .right .tuijian .liebiao .btn{
	width: 2.20rem;
	height: 1.11rem;
	margin-right: 0.16rem;

}
.box .right .tuijian .liebiao .btn img{
	width: 2.2rem;
	height: 1.11rem;
	border-radius: 0.1rem;
}
.box .right .tuijian .remen{
	width: 7.7rem;
	height: 1.6rem;
/* 	background-color: blue; */
	margin-top: 0.16rem;
	display: flex;
}
.box .right .tuijian .remen .l{
	width: 33.33%;
	height: 1.6rem;
/* 	background-color: red; */
}
.box .right .tuijian .remen .l:first-child{
	width: 1.2rem;
	height: 0.02rem;
	background-color:#e9e9e9;
	margin: 0.79rem 0 0.79rem 0.88rem;
	margin-left: 1.35rem;
}
.box .right .tuijian .remen .l:last-child{
	width: 1.2rem;
	height: 0.02rem;
	background-color:#e9e9e9;
	margin: 0.79rem 0.88rem 0.79rem 0;
}
.box .right .tuijian .remen .l:nth-child(2){
	font-size: 0.4rem;
	color: black;
	line-height: 1.6rem;
	text-align: center;
}
.box .right .tuijian .w{
	width: 7.7rem;
	height: 6.6rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.box .right .tuijian .w .window{
	width: 33.33%;
	height: 33.33%;
	text-align: center;
}
.box .right .tuijian .w .window h1{
	font-size: 0.32rem;
	width: 2.0rem;
	margin-left: 0.32rem;
	margin-top: 0.32rem;
}
.box .right .tuijian .w .window img{
	width:1.9rem ;
	height: 2.1rem;
	margin-left: 0.35rem;
}
